# This file is part of BitBoson.
#
# Copyright (c) standard-model
#
# standard-model is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# standard-model is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with standard-model.  If not, see <https://www.gnu.org/licenses/>.
#
# Written by:
#     - Tyler Parcell <OriginLegend>
#

# Environment-related directories
.higgs-boson/

# Exclude hidden configuration files
.clang_complete

# Exclude build output directories
output/

# Exclude Mac-related files
**/.DS_Store
*/.DS_Store
.DS_Store
